@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Work+Sans:ital@1&display=swap');
h1{
    text-align: center;
    margin: 12px 0;
    font-family: 'Montserrat', sans-serif;
}
.myInput{
    width: 30%;
    padding: 10px;
    margin: 8px;
    font-size: 17px;
    border: 2px solid #435790;
    border-radius: 10px;
    outline: none;
}
.container{
 height: 80vh;
}
.myform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
    
}
.btn{
    padding: 12px 14px;
    font-size: 15px;
    border: 2px solid #435790;
    border-radius: 10px;
    color: white;
    background-color: #4ea7a8;
    cursor: pointer;
}

