@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Work+Sans:ital@1&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: -4px 14px;
    margin-right: 33px;
}
#logo img{
    height: 30px;
    filter: invert(1);
}
#navbar{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 5%, rgba(37,101,96,1) 100%, rgba(0,212,255,1) 100%);
    padding: 13px 14px;
    font-family: 'Montserrat', sans-serif;
}
#navbar ul{
display: flex;
flex-direction: rows;
/* justify-content: center; */
/* align-items: center; */
}
#navbar li{
list-style: none;
/* padding: 2px; */
}
#navbar li a{
    text-decoration: none;
    padding: 13px 13px;
    color: white;
}
#navbar li a:hover{
    color: grey;
}
/* #introSection::before{
    background: cover no-repeat url("/static/bg.jpg");
    content: "";
    background-size: cover;
    position: absolute;
    top: 44px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.9;
} */
#introSection{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 36rem;
    font-size: 35px;
    font-weight: bolder;
    /* background-color: yellow; */
    font-family: 'Work Sans', sans-serif;
    background: center no-repeat url("/static/bg.jpg");

}
#introSection div{
    position: relative;
}
#introSection div.small{
    font-size: 27px;
    padding: 5px;
}
#sponsorSection{
    height: 515px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 21%, rgba(21,48,10,0.9756945014333859) 55%, rgba(37,101,96,1) 100%);

}
#sponsorSection h2{
    font-size: 30px;
    text-align: center;
    padding-top: 22px;
    color: white;
}
#sponsors {
    display: flex;
    flex-direction: row;
    height: 120px;
    max-width: 1000px;
    margin: auto;

}
.spImage{
height: 160%;
margin: 20px;
margin-left: inherit;
margin-top: 80px;
}
#footer{
 height: 80px;
 background-color: black;
 display: flex;
 align-items: center;
 justify-content: center;
 color: white;
 font-size: 20px;


}
#MissionSection{
    height: 400px;
    background: rgb(2,0,36);
   

}
#MissionSection h2{
    text-align: center;
    font-size: 30px;
    padding-top: 22px;
    color: white;

}
.card{
    display: inline-block;
    border: 2px solid white;
    border-radius: 10px;
    margin: 23px 20px;
    height: 209px;
    width: 30%;
    background-color: #42b38475;
}
.card h3{
    color: white;
    text-align: center;
    margin-top: 8px;
}
.card p{
    color: white;
    text-align: center;
    margin-top: 12px;
}